.l-content-large {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: contain;
    background-image: image-url('grain@2x.png');
    z-index: 1;
  }

  &.-home, .-about {
    background: black;
  }

  &.-stunting {

  }
}
