.l-chart {

  &#currentBurdenView {
    margin-left: rem(-10px);

    @media screen and (min-width: $screen-m) {
      margin-left: rem(-5px);
    }

    @media screen and (min-width: $screen-l + 1px) {
      margin-left: rem(-40px);
    }
  }

  &#costPackagesView{
    margin-left: rem(-15px);

    @media screen and (min-width: $screen-m) {
      margin-left: rem(-5px);
    }

    @media screen and (min-width: $screen-l + 1px) {
      margin-left: rem(-50px);
    }
  }

  &#costMeetingPackagesView{
    margin: rem(-10px) 0 rem(-40px);

    @media screen and (min-width: $screen-m) {
      margin: rem(-10px) 0 rem(-70px);
    }
  }

  &#businessAsUsualView{
    margin-left: rem(-15px);

    @media screen and (min-width: $screen-m) {
      margin-left: rem(-5px);
    }

    @media screen and (min-width: $screen-l + 1px) {
      margin-left: rem(-50px);
    }
  }

  &#globalSolidarityView{
    margin-left: rem(-15px);
  }
}
