.l-content-large {
  position: relative;
  background-position-y: bottom;
  background-repeat: repeat-x;
  min-height: rem(600px);

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 1;
  }

  &.-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &.-home {
    background-image: image-url('bg-home.png');
    min-height: rem(580px);

    @media screen and (min-width: $screen-m) {
      min-height: rem(700px);
    }
  }

  &.-about {
    background-image: image-url('bg-about.png');
  }

  &.-stunting {
    background-image: image-url('causes/closed/stunting.png');
  }

  &.-wasting {
    background-image: image-url('causes/closed/wasting.png');
  }

  &.-anemia {
    background-image: image-url('causes/closed/anemia.png');
  }

  &.-breastfeeding {
    background-image: image-url('causes/closed/breastfeeding.png');
  }

  &.-others {
    border-bottom: 1px solid rgba($color-3, .3);

    @media screen and (min-width: $screen-m) {
      min-height: rem(400px);
    }
  }

  .smooth-scroll {
    display: flex;
    justify-content: center;
    padding-bottom: rem(20px);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .icon {
      width: rem(25px);
      height: rem(50px);
    }
  }
}
