.l-footer {
  background-size: cover;
  background-image: image-url('grain@2x.png');
  padding-bottom: rem(50px);

  @media screen and (min-width: $screen-m) {
    padding-bottom: rem(30px);
  }

  .c-navigation {
    justify-content: center;
    padding-bottom: rem(30px);
    padding-top: rem(30px);
    height: rem(200px);

    @media screen and (min-width: $screen-m) {
      padding-bottom: rem(60px);
      padding-top: rem(80px);
    }

    li {
      margin: 0 rem(10px);
      padding-bottom: rem(15px);

      @media screen and (min-width: $screen-m) {
        margin: 0 rem(20px);
      }
    }

    li.-active, li:hover {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: rem(15px);
    }
  }

  .designed-by {
    text-align: center;
    margin-bottom: rem(30px);

    .designed {
      position: relative;
      display: inline-block;
      width: auto;

      &:after,
      &:before {
        content: "";
        height: 1px;
        width: rem(100px);
        border-bottom: 1px solid $color-2;
        position: absolute;
        top: 50%
      }

      &:before {
        left: 105%;
      }

      &:after {
        right: 105%;
      }
    }

    .vizz-logo {
      margin: 0 auto;
      width: rem(100px);
      height: rem(30px);
      background-image: image-url('vizzuality_logo.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}
