.l-footer {
  background-size: contain;
  background-image: image-url('grain@2x.png');
  padding-bottom: rem(50px);

  @media screen and (min-width: $screen-m) {
    padding-bottom: rem(100px);
  }

  .c-navigation {
    justify-content: center;
    padding-bottom: rem(20px);
    padding-top: rem(50px);

    @media screen and (min-width: $screen-m) {
      padding-bottom: rem(60px);
      padding-top: rem(100px);
    }

    li {
      margin: 0 rem(10px);
      padding-bottom: rem(15px);

      @media screen and (min-width: $screen-m) {
        margin: 0 rem(20px);
      }
    }

    li.-active, li:hover {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: rem(15px);
    }
  }
}
