.l-header {
  height: rem(60px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid $color-3 1px;
  margin-left: -0.625rem;
  margin-right: -0.625rem;
  z-index: 10;
  // position: relative;
  background-color: $beige;

  @media screen and (min-width: $screen-m) {
    align-items: flex-end;
    height: rem(80px);
    margin-left: 0;
    margin-right: 0;
  }

  .logo {
    height: rem(22px);
    margin-left: rem(15px);

    @media screen and (min-width: $screen-m) {
      margin-left: 0;
      height: rem(40px);
    }

    .icon {
      width: rem(160px);
      height: rem(40px);

      &.-white {
        display: none;
      }
    }
  }

  .mobile {
    display: block;
    padding: rem(20px);

    @media screen and (min-width: $screen-m) {
      display: none;
    }

    .icon {
      width: rem(20px);
      height: rem(20px);
      fill: #81786b;
    }

    .-close {
      display: none;
    }

    .-open {
      margin-top: rem(10px);
    }

    &.-is-open {
      .-open {
        display: none;
      }

      .-close {
        display: block;
      }
    }
  }

  .desktop {
    display: none;

    @media screen and (min-width: $screen-m) {
      display: flex;
    }
  }

  &.-transparent {
    border-bottom: solid $white 1px;
    background-color: transparent;

    .icon {
      fill: #faf3e9;
    }

    .logo {

      a {
        color: $white;
      }

      .icon {
        display: none;

        &.-white {
          display: flex;
        }
      }
    }
  }

  &.-is-open {
    background-color: $beige;

    .icon {
      fill: $color-2;
    }

    .logo {

      a {
        color: $color-2;
      }
    }
  }
}
