.l-switcher {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: $screen-m) {
    flex-direction: row;
  }

  .switcher-container {
    width: 100%;

    @media screen and (min-width: $screen-m) {
      max-width: rem(340px);
    }

    span {
      @media screen and (min-width: $screen-l + 1px) {
        margin-left: rem(30px);
      }
    }
  }
}
