.wrap,
%wrap {
  position: relative;
  width: 100%;
  max-width: rem($grid-max-width);
  margin: 0 auto;
  padding: 0 rem($wrap-padding-mobile);

  @media screen and (min-width: $screen-s) {
    padding: 0 rem($wrap-padding-tablet);
  }

  @media screen and (min-width: 768px) {
    padding: 0 rem($wrap-padding-desktop);
  }

  @media screen and (min-width: $screen-xl) {
    padding: 0 rem($wrap-padding-desktop-xl);
  }
}

.l-header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: solid $color-3 1px;

  .logo {
    padding-bottom: 10px;

    .icon {
      width: 140px;
      height: 30px;
    }
  }
}

.l-title {
  border-top: solid 1px $color-3;
  padding-top: 40px;
  margin-top: 40px;
}

.l-main {
  .wrap {
    padding-top: rem(100px);
    text-align: center;
  }
}

.l-comments {
  padding: rem(55px) 0 rem(45px);
}

.l-selectors {
  padding-top: 40px;
}

.l-title {
  #titleView {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}
