.l-header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid $color-3 1px;
  margin-left: -0.625rem;
  margin-right: -0.625rem;

  @media screen and (min-width: $screen-m) {
    align-items: flex-end;
    height: 80px;
    margin-left: 0;
    margin-right: 0;
  }

  .logo {
    height: 40px;
    margin-left: 15px;

    @media screen and (min-width: $screen-m) {
      margin-bottom: 10px;
      margin-left: 0;
    }

    .icon {
      width: 160px;
      height: 40px;
    }
  }

  .mobile {
    display: block;
    margin-right: 20px;
    height: 20px;

    @media screen and (min-width: $screen-m) {
      display: none;
    }

    .icon {
      width: 20px;
      height: 20px;
    }

    .-close {
      display: none;
    }

    &.-is-open {
      .-open {
        display: none;
      }

      .-close {
        display: block;
      }
    }
  }

  .desktop {
    display: none;

    @media screen and (min-width: $screen-m) {
      display: flex;
    }
  }
}

.l-map {
  padding: 40px 0;
}

.l-title {
  border-top: solid 1px $color-3;
  padding-top: 40px;
  margin-top: 40px;
}

.l-main {
  .wrap {
    padding-top: rem(100px);
    text-align: center;
  }
}

.l-comments {
  padding: rem(55px) 0 rem(45px);
}

.l-selectors {
  padding-top: 40px;
}

.l-title {
  #titleView {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}
