<div class="l-footer">
  <div class="row">
    <div class="column small-12">
      <%= render 'shared/navigation', className: "-footer" %>
      <ul class="c-partners">
        <li>World bank</li>
        <li>R4D</li>
        <li>Bill Melinda Gates</li>
        <li>CHF</li>
        <li>1000 days</li>
      </ul>
    </div>
  </div>
</div>
