<div class="l-footer">
  <div class="row">
    <div class="column small-12">
      <%= render 'shared/navigation', className: "-footer" %>
      <ul class="c-partners">
        <li>
          <a href="">
            <svg class="icon"><use xlink:href="#icon-world-bank"></use></svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="icon"><use xlink:href="#icon-logo"></use></svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="icon"><use xlink:href="#icon-gates-foundation"></use></svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="icon"><use xlink:href="#icon-ciff"></use></svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="icon"><use xlink:href="#icon-days"></use></svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
