<div class="row">
  <div class="small-12">
    <div class="l-header">
      <div class="logo">
        <a href="/"><svg class="icon"><use xlink:href="#icon-logo"></use></svg></a>
      </div>
      <%= render 'shared/navigation', className:"-header" %>
    </div>
  </div>
</div>
