<div class="row">
  <div class="columns small-12">
    <div class="c-menu">
      <div class="logo">
        <a href="/"><svg class="icon"><use xlink:href="#icon-logo"></use></svg></a>
      </div>
      <div class="desktop">
        <%= render 'shared/navigation', className:"-header" %>
      </div>
      <div class="js-btn-mobile-menu mobile">
        <svg class="icon -open">
          <use xlink:href="#icon-menu"></use>
        </svg>
        <svg class="icon -close">
          <use xlink:href="#icon-close"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="c-mobile-menu">
    <%= render 'shared/navigation', className:"-header" %>
  </div>
</div>
