<ul class="c-navigation <%= @className %>">
  <li><%= link_to 'Regional data', '/dashboards/region/sub-saharan-africa' %></li>
  <li><%= link_to 'Current Funding', countries_show_path %></li>
  <li><%= link_to 'About', about_path %></li>
</ul>
