<div class="row">
  <div class="columns small-12">
    <div class="c-share-menu <%= class_name %>">
      <ul class="links text">
        <li class="js-btn-action" data-action="Share:toggle">
          <svg class="icon"><use xlink:href="#icon-share"></use></svg>
          Share
        </li>
        <li>
          <a href="javascript:window.print()">
          <svg class="icon"><use xlink:href="#icon-download"></use></svg>
          Download
        </a>
        </li>
        <li>
          <svg class="icon"><use xlink:href="#icon-print"></use></svg>
          Print
        </li>
      </ul>
    </div>
  </div>
</div>
