<div class="c-accordion">
  <div class="c-impact-section -anaemia">
    <div class="panel">
      <div class="row">
        <div class="columns small-12 medium-9">
          <div class="facts">
            <div class="row">
              <div class="columns small-12 medium-4">
                <div class="fact">
                  <h4 class="text -impact -num border">$533M<svg class="icon"><use xlink:href="#icon-child_baby"></use></svg></h4>
                  <span class="text -impact -strap">Women of reproductive age affected</span>
                </div>
              </div>
              <div class="columns small-12 medium-7">
                <div class="row">
                  <div class="columns small-12">
                    <div class="fact">
                      <h4 class="text -impact -num border">$2.31B<svg class="icon"><use xlink:href="#icon-investment"></use></svg></h4>
                      <span class="text -impact -strap">Investment</span>
                    </div>
                  </div>
                </div>
                <div class="sub text -impact -sub">World Health Assembly Target</div>
                <div class="pill text -anaemia">50% reduction in anemia by 2025</div>
              </div>
            </div>
          </div>
        </div>
        <div class="columns small-12 medium-3">
          <div class="results">
            <h4 class="text -impact -num -white">265M<svg class="icon -light"><use xlink:href="#icon-child_stand"></use></svg></h4>
            <span class="text -impact -strap -white">Cases of anemia prevented</span>
            <h4 class="text -impact -num -white">799,000<svg class="icon -light"><use xlink:href="#icon-child_baby"></use></svg></h4>
                  <span class="text -impact -strap -white">Child deaths averted</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row reorder">
  <div class="columns small-12 medium-7 text">
    <div class="c-cta">
      <h1 class="text -cta-title">Why it matters?</h1>
      <p class="text -cta-text">Anemia affects half a billion women of reproductive age worldwide, impairing their health and economic productivity. An indicator of poor nutrition, anemia is a condition in which the ability of the blood to transport oxygen around the body is impaired. In pregnant women, anemia can lead to maternal death and can have serious health consequences for infants, including stillbirth, prematurity, and low birth weight.</p>
    </div>
  </div>
  <div class="columns small-12 medium-5 graphic">
    <div class="c-graphic">
      <div class="image -anaemia"></div>
    </div>
  </div>
</div>
<div class="accordion">
  <div class="c-accordion">
    <div class="accordion-content">
      <div class="row">
        <div class="columns small-12 large-6">
          <div class="info-box">
            <div class="title -tall">
              <h3 class="text -title">Increases risk of adverse maternal & infant health outcomes</h3>
              <div class="image -anaemia-1"></div>
            </div>
            <p class="text">Maternal anemia is associated with illness and death of both the mother and baby, including increased risk of miscarriages, stillbirths, premature birth and low birth weight.</p>
          </div>
        </div>
        <div class="columns small-12 large-6">
          <div class="info-box">
            <div class="title -tall">
              <h3 class="text -title">Hinders day-to-day life</h3>
            </div>
            <p class="text">Anemia causes fatigue and makes women feel lethargic. It also impairs physical capacity and work performance.</p>
          </div>
        </div>
        <div class="columns small-12 large-6">
          <div class="info-box -lower">
            <h3 class="text -title">Affects millions</h3>
            <p class="text">Anemia diminishes the health and quality of life for millions of women, as well as the development and learning potential of their children.</p>
          </div>
        </div>
        <div class="columns small-12 large-6">
          <div class="image-box -lower">
            <div class="image -anaemia-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
