<div class="row">
  <div class="columns small-12">
    <hr class="c-separator"/>
  </div>
  <div class="columns small-12 text centered">
    <p class="info text -cta-text">Other nutrition indicators (not included in the analysis)</p>
  </div>
  <div class="columns small-12">
    <div class="c-goal-box">
      <div class="row">
        <div class="columns small-12 medium-6">
          <div class="title -first">
            <svg class="icon"><use xlink:href="#icon-weight"></use></svg>
            <h4 class="text -goal-title">Low birth weight</h4>
          </div>
        </div>
        <div class="columns small-12 medium-6">
          <div class="title">
            <svg class="icon"><use xlink:href="#icon-weight-up"></use></svg>
            <h4 class="text -goal-title">Overweight</h4>
          </div>
        </div>
        <p class="text">Assessment of the WHA nutrition targets on childhood overweight and low birthweight was not included in this analysis because additional research is needed to determine what interventions would support achievement of these targets.</p>
      </div>
    </div>
  </div>
  <div class="columns small-12">
    <hr class="c-separator"/>
  </div>
</div>
