<div class="row">
  <div class="columns small-12 text centered">
    <h5 class="info text">Other Nutrition indicators (not included in the analysis)</h5>
  </div>
  <div class="columns small-12 medium-6">
    <div class="c-goal-box">
      <h4 class="text -cta-title">Low Birth Weight</h4>
      <div class="strapline">
        <svg class="icon"><use xlink:href="#icon-weight"></use></svg>
        <h5 class="text -goal-sub">30% reduction in low birth weight</h5>
      </div>
    </div>
  </div>
  <div class="columns small-12 medium-6">
    <div class="c-goal-box">
      <h4 class="text -cta-title">Overweight</h4>
      <div class="strapline">
        <svg class="icon"><use xlink:href="#icon-weight"></use></svg>
        <h5 class="text -goal-sub">No increase in overweight children</h5>
      </div>
    </div>
  </div>
  <div class="columns small-12">
    <hr class="c-separator"/>
  </div>
</div>
