<div class="row reorder">
  <div class="columns small-12 text centered">
    <div class="c-cta max-width">
      <h1 class="text -cta-title">Other nutrition indicators</h1>
      <p class="text -cta-text">Assessment of the WHA nutrition targets on childhood overweight and low birthweight were not included in this analysis because additional research is needed to determine what interventions would support achievement of these targets.
      </p>
    </div>
  </div>
</div>

