<div class="spinner"></div>

<div id="homeMapView">

  <div class="row">
    <div class="columns small-12 medium-8">
      <h1 class="text -cta-title">Prevalence</h1>
    </div>
  </div>

  <div class="row">
    <div class="columns small-12 medium-8">
      <p class="text js-prevalence-text">Stunting affects 159 million children under five worldwide.</p>
    </div>
  </div>

  <div class="row">
    <div id="map-container" class="c-map-home"></div>

    <div class="columns small-12">
      <div id="mapLegendView" class="c-map-legend">
        <h4 class="text js-legend-title">Percentage of people affected</h4>
        <p class="text -footnote">Source: Most recent year available, WHO Nutrition Tracker</p>
        <div class="buckets text -legend">
          <div class="bucket"><span class="bc1"></span></div>
          <div class="bucket"><span class="bc2"></span></div>
          <div class="bucket"><span class="bc3"></span></div>
          <div class="bucket"><span class="bc4"></span></div>
          <div class="bucket"><span class="bc5"></span></div>
          <div class="bucket"><span class="bc6"></span></div>
          <div class="bucket"><span class="bc7"></span></div>
          <div class="bucket"><span class="default">no data</span></div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="columns small-12 medium-7">
    <h3 class="text -subtitle">Current funding and future resources needs</h3>
    <p class="text">How much has the world spent on <span class="js--funding-needs-target -bold"></span> since 2016, and how much further will it need to go in order to reach global targets by 2025?</p>
  </div>
  <div id="fundingProgressView" class="c-funding-progress"></div> -->
</div>
