<div class="row reorder">
  <div class="columns small-12 medium-5">
    <div class="c-graphic">
      <div class="image -wasting"></div>
    </div>
  </div>
  <div class="columns small-12 medium-7 text">
    <div class="c-cta">
      <h1 class="text -cta-title">Wasting</h1>
      <p class="text -cta-text">Globally, 50 million children under the age of five are wasted, and wasting accounts for 2 million child deaths every year. Wasting occurs when children lose weight rapidly because of diets which do not meet their nutritional needs. Wasted children are more likely to die of infectious diseases like diarrhea, pneumonia, and measles. Wasting also increases the risk of stunting, impaired cognitive development, and non-communicable diseases in adulthood.</p>
    </div>
  </div>
</div>
<div class="accordion">
  <div class="c-accordion">
    <div class="accordion-content">
      <div class="row">
        <div class="columns small-12 large-6">
          <div class="info-box">
            <div class="title -tall">
              <h3 class="text -title">Results from insufficient diets</h3>
            </div>
            <p class="text">Children become wasted when they lose weight rapidly because of diets that do not cover their nutritional needs.</p>
          </div>
        </div>
        <div class="columns small-12 large-6">
          <div class="image-box -lower -extra-space-hack">
            <div class="image -wasting-2"></div>
          </div>
        </div>
        <div class="columns small-12 large-6">
          <div class="image -wasting-1"></div>
        </div>
        <div class="columns small-12 large-6">
          <div class="info-box">
            <div class="title">
              <h3 class="text -title">Makes other illnesses more dangerous</h3>
            </div>
            <p class="text">Wasting increases the risk of child deaths from infectious diseases such as diarrhea, pneumonia and measles.</p>
          </div>
        </div>
        <div class="columns small-12 large-6">
          <div class="info-box">
            <h3 class="text -title">Lasts a lifetime</h3>
            <p class="text">Wasting increases the risk of stunted growth, impaired cognitive development and non-communicable diseases in adulthood.</p>
          </div>
        </div>
      </div>
      <div class="c-impact-section -wasting">
        <div class="panel">
          <div class="row">
            <div class="columns small-12 small-12 medium-9">
              <div class="facts">
                <div class="row">

                  <div class="columns small-12 medium-4">
                    <div class="fact">
                      <h4 class="text -impact -num border">$50M<svg class="icon"><use xlink:href="#icon-child"></use></svg></h4>
                      <span class="text -impact -strap">children under five affected</span>
                    </div>
                  </div>

                  <div class="columns small-12 medium-7">
                    <div class="row">
                      <div class="columns small-12">
                        <div class="fact">
                          <h4 class="text -impact -num border">$9.06B<svg class="icon"><use xlink:href="#icon-investment"></use></svg></h4>
                          <span class="text -impact -strap">Investment</span>
                        </div>
                      </div>
                      <div class="columns small-12 large-6">
                      </div>
                    </div>
                    <div class="sub text -impact -sub">World Health Assembly Target</div>
                    <div class="pill text -wasting">Reduce and maintain childhood wasting to less than 5%</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns small-12 medium-3">
              <div class="results">
                <h4 class="text -impact -num -white">91M<svg class="icon -light"><use xlink:href="#icon-child_stand"></use></svg></h4>
                <span class="text -impact -strap -white">Cases of severe acute malnutrition treated</span>
                <h4 class="text -impact -num -white">860B<svg class="icon -light"><use xlink:href="#icon-child_stand"></use></svg></h4>
                <span class="text -impact -strap -white">Child deaths averted</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
