<div class="row reorder">
  <div class="columns small-12 medium-7 text">
    <div class="c-cta">
      <h1 class="text -cta-title">Stunting</h1>
      <p class="text -cta-text">Stunting is the largely irreversible outcome of chronic undernutrition and affects one in four children under the age of five. Stunted children have weaker immune systems, making them more susceptible to death and disease and diminishing their cognitive capacity, which impacts their ability to learn in school and earn higher incomes later in life.</p>
    </div>
  </div>
  <div class="columns small-12 medium-5 graphic">
    <div class="c-graphic">
      <div class="image -stunting"></div>
    </div>
  </div>
</div>
<div class="accordion">
  <div class="c-accordion">
    <div class="row">
      <div class="columns small-12">
        <input id="ac-stunting" name="accordion-stunting" type="checkbox" />
        <label class="text -accordion -open" for="ac-stunting">
          See why it matters
        </label>
      </div>
    </div>
    <div class="accordion-content">
      <div class="row">
        <div class="columns small-12 large-6">
          <div class="info-box">
            <div class="title -tall">
              <h3 class="text -title">Crosses generations</h3>
              <div class="image -stunting-1"></div>
            </div>
            <p class="text">An estimated 20% of stunting begins in the womb—with a mother who herself is malnourished and is not getting enough of the nutrition she needs to support her baby’s growth and development during pregnancy.</p>
          </div>
        </div>
        <div class="columns small-12 large-6">
          <div class="info-box">
            <div class="title -tall">
              <h3 class="text -title">Lasts a lifetime</h3>
            </div>
            <p class="text">The effects of stunting last a lifetime: impaired brain development, lower IQ, weakened immune systems, and greater risk of serious diseases like diabetes and cancer later in life.</p>
          </div>
        </div>
        <div class="columns small-12 large-6">
          <div class="info-box -lower">
            <h3 class="text -title">Can be prevented but not reversed</h3>
            <p class="text">Stunting is almost always irreversible but it can be prevented by improving nutrition for women and children in the first 1,000 days.</p>
          </div>
        </div>
        <div class="columns small-12 large-6">
          <div class="image-box -lower">
            <div class="image -stunting-2"></div>
          </div>
        </div>
      </div>
      <div class="c-impact-section -stunting">
        <div class="panel">
          <div class="row">
            <div class="columns small-12 medium-9">
              <div class="facts">
                <div class="row">
                  <div class="columns small-12 medium-4">
                    <div class="fact">
                      <h4 class="text -impact -num">159 M<svg class="icon"><use xlink:href="#icon-child_baby"></use></svg></h4>
                      <span class="text -impact -strap">Stunted children</span>
                    </div>
                  </div>
                  <div class="columns small-12 medium-7">
                    <div class="row">
                      <div class="columns small-12 large-6">
                        <div class="fact">
                          <h4 class="text -impact -num border">$49.5M<svg class="icon"><use xlink:href="#icon-investment"></use></svg></h4>
                          <span class="text -impact -strap">Investment</span>
                        </div>
                      </div>
                      <div class="columns small-12 large-6">
                        <div class="fact">
                          <h4 class="text -impact -num border">Interventions</h4>
                          <p class="text -impact -action">· Underlying determinants of stunting</p>
                          <p class="text -impact -action">· WASH</p>
                          <p class="text -impact -action">· Nutritions-specific interventions</p>
                        </div>
                      </div>
                    </div>
                    <div class="sub text -impact -sub">Over 10 years</div>
                    <div class="pill text -stunting">40% reduction in stunting by 2025</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns small-12 medium-3">
              <div class="results">
                <h4 class="text -impact -num -white">65M<svg class="icon -light"><use xlink:href="#icon-child_stand"></use></svg></h4>
                <span class="text -impact -strap -white">Fewer children stunted</span>
                <h4 class="text -impact -num -white">2.8M<svg class="icon -light"><use xlink:href="#icon-child_stand"></use></svg></h4>
                <span class="text -impact -strap -white">Fewer child deaths averted</span>
              </div>
            </div>
          </div>
        </div>
        <div class="handler">
          <div class="row">
            <div class="column small-12 centered">
              <label for="ac-stunting" class="btn-close-detail">close detail</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
