<div class="l-header-large -home">
  <div class="row">
    <div class="columns small-12">
      <%= render 'shared/menu'%>
      <h1>Investing in Nutrition</h1>
      <p>Malnutrition kills millions of children every year and robs millions more of the opportunity to reach their full potential. In 2012, world leaders committed to reaching six global nutrition targets by 2025. This is achievable, but world leaders must act now to fulfill their promises and save millions of lives.</p>
    </div>
  </div>
  <div class="c-smooth-scroll">
  </div>
</div>
