.btn {
  padding: rem(8px);
  text-transform: uppercase;
  line-height: rem(30px);
  font-size: rem(16px);
  font-weight: 700;
  width: 49%;
  border-radius: 0;

  @media screen and (min-width: $screen-m) {
    width: 160px;
  }

  &.-line {
    color: $color-2;
    border: rem(1px) solid $color-2;
  }

  &.-solid,
  &.-is-active {
    color: $color-bg-1;
    border: rem(1px) solid $color-2;
    background-color: $color-2;
  }


  & + & {
    margin-left: 0.5%;

    @media screen and (min-width: $screen-m) {
      margin-left: rem(15px);
    }
  }
}
