/* FONTS */
$font-family-1: "museo-sans";
$font-family-2: "museo-slab";


/* SCREENS */
$screen-xs: 320px;
$screen-s: 540px;
$screen-m: 768px;
$screen-ml: 900px;
$screen-l: 1024px;
$screen-xl: 1280px;
$screen-xxl: 2000px;


/* GRID  */
$grid-max-width: 1400px;
$wrap-padding-mobile: 20px;
$wrap-padding-tablet: 30px;
$wrap-padding-desktop: 60px;
$wrap-padding-desktop-xl: 110px;


/* COLORS */
$beige: #f7f0e4;
$denim: #326975;
$greyish-brown: #595755;
$stone: #a99c89;
$stone-dark: #81786b;

$light-olive-green: #aecc4f;
$dark-coral: #d26358;
$macaroni-and-cheese: #efbb37;
$light-purple: #ca82f8;
$turquoise-blue: #00a3b7;
$turquoise-blue-two: #00a2b7;
$beige-two: #e6d6ba;
$bland: #b3a691;

$light-grey-blue: #93c9d8;
$black: #222222;
$white: #ffffff;

/* THEME COLORS */
$color-1: $denim;
$color-2: $stone-dark;
$color-3: $stone;

/* GRAPH COLORS */
$color-graph-1: $light-olive-green;
$color-graph-2: $dark-coral;
$color-graph-3: $macaroni-and-cheese;
$color-graph-4: $light-purple;

$color-graph-5: $light-grey-blue;
$color-graph-6: $turquoise-blue-two;

$color-graph-7: $beige-two;
$color-graph-8: $bland;
$color-graph-9: $stone;
$color-graph-10: $beige;

/* BACKGROUND */
$color-bg-1: $beige;


/* FONT COLORS */
$font-color-1: $black;
$font-color-2: $color-2;
$font-color-3: $color-1;
$font-color-3: $white;
