/*
 * Here you should find all the types of text
 * for the project.
 *
 * There are some with colors and some without.
 * Those without color can be found with different
 * color along the project and setted with the apropiate
 * class or it will inherit it from its father.
 */

 a {
   color: inherit;
 }

 p {
   a {
     font-weight: 900;
     text-decoration: underline;
     color: #5b564e;

     &:hover {
       color: $color-2;
     }
   }

   b {
     color: #5b564e;
   }
 }

.text {
  font-family: $font-family-1;
  color: $color-2;
  font-weight: 500;
  line-height: 1.67;

  &.-menu {
    font-size: rem(16px);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;

    &:hover {
      color: $color-graph-6;
    }
  }

  &.-tabs {
    font-size: rem(16px);
    letter-spacing: 0.5px;
    font-weight: 500;

    @media screen and (min-width: $screen-m) {
      font-size: rem(18px);
    }
  }

  &.-title {
    font-size: rem(28px);
    font-weight: 700;
    line-height: 1.25;
    font-family: $font-family-2;

    @media screen and (min-width: $screen-m) {
      font-size: rem(32px);
    }
  }

  &.-subtitle {
    font-size: 18px;
    font-weight: 900;
    padding: rem(10px) 0;
  }

  &.-cta-title {
    font-family: $font-family-2;
    font-size: rem(42px);
    font-weight: 900;
    line-height: 1;
    letter-spacing: -0.7px;

    a {
      text-decoration: underline;
    }

    @media screen and (min-width: $screen-l) {
      font-size: rem(52px);
    }
  }

  &.-cta-title-header {
    font-family: $font-family-2;
    font-size: rem(50px);
    font-weight: 900;
    line-height: 1;
    letter-spacing: -0.7px;

    @media screen and (min-width: $screen-l) {
      font-size: rem(70px);
    }
  }

  &.-cta-text {
    font-size: rem(18px);
  }

  &.-accordion {
    font-size: 28px;
    font-family: $font-family-2;
    text-decoration: underline;

    @media screen and (min-width: $screen-m) {
      font-size: rem(32px);
    }
  }

  &.-legend {
    font-size: rem(11px);
    font-weight: 700;

    @media screen and (min-width: $screen-m) {
      font-size: rem(16px);
    }
  }

  &.-footnote {
    font-size: rem(12px);
    margin-top: rem(20px);
  }

  &.-logo {
    font-family: $font-family-2;
    font-size: rem(14px);
    text-transform: uppercase;
    letter-spacing: rem(2px);
    font-weight: 300;

    @media screen and (min-width: $screen-m) {
      font-size: rem(16px);
    }
  }

  &.-map {
    background: $white;
    padding: rem(5px) rem(10px);
  }

  &.-funding {
    font-size: 16px;
    fill: rgba(#81786b, 0.5);
  }

  &.-figure {
    font-size: 24px;
    text-transform: uppercase;
    fill: #81786b;
    font-weight: 500;
  }

  &.-milestone {
    font-size: 16px;
    fill: rgba(#81786b, 0.5);

    @media screen and (min-width: $screen-m) {
      font-size: 12px;
    }
  }

  &.-button {
    text-decoration: underline;
  }

  &.-impact {
    font-family: $font-family-2;
    line-height: 1.03;
    color: #000000;
    opacity: 0.6;

    &.-num {
      font-size: rem(24px);
      font-weight: 700;
      margin-bottom: 10px;

      @media screen and (min-width: $screen-m) {
        font-size: rem(30px);
      }
    }

    &.-strap {
      font-size: rem(26px);
      font-weight: 300;

      @media screen and (min-width: $screen-m) {
        font-size: rem(32px);
      }
    }

    &.-white {
      color: #ffffff;
      opacity: 1;
    }

    &.-sub {
      font-size: rem(14px);
      opacity: 0.4;
      font-weight: 500;

      @media screen and (min-width: $screen-m) {
        font-size: rem(18px);
      }
    }
  }

  &.-light {
    color: $white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}
