<div class="l-selectors">
  <div class="row">
    <!-- <div class="l-map">
      <div id="map"></div>
    </div> -->
    <div class="column small-12 medium-8 medium-offset-2 large-4 large-offset-4">
      <div id="modeSelectorView" class="c-tabs">
        <div class="tab">
          <input type="radio" name="mode" value="global" class="js--mode-selector" id="global">
          <label for="global" class="text -tabs">Global</label>
        </div>
        <div class="tab">
          <input type="radio" name="mode" value="region" class="js--mode-selector" id="region">
          <label for="region" class="text -tabs">Regions</label>
        </div>
        <div class="tab">
          <input type="radio" name="mode" value="income_group" class="js--mode-selector" id="income_group">
          <label for="income_group" class="text -tabs">Income groups</label>
        </div>
      </div>
      <div id="groupSelectorView">
        <select name="group" id="groupSelector" class="js--group-selector"></select>
      </div>
    </div>
  </div>
</div>

<div class="l-title">
  <div class="wrap">
    <div id="titleView"></div>
  </div>
</div>


<div class="l-chart">
  <div class="wrap">
    <div class="l-current-burden">
      <h2 class="header -title -highlight">How common are nutritional conditions?</h2>
      <h3>Current burden of nutritional conditions</h3>
      <div id="currentBurdenView" class="chart-wrapper">
        <div class="c-chart"></div>
        <p class="text -plain">This chart shows prevalence of stunting, wasting, anemia, and non-exclusive breastfeeding. Stunting and wasting are shown as a percentage of children under 5, anemia as a percentage of women of reproductive age, and non-exclusive breastfeeding as percentage of infants in their first 6 months.</p>
      </div>
    </div>
  </div>
</div>


<div class="l-chart">
  <div class="wrap">
    <div class="l-meeting-targets">
      <h2 class="header -title -highlight">How much will it cost [REGION] to achieve the targets global leaders set?</h2>
      <h3>Cost of meeting targets, 2016-2025</h3>
      <div class="text-wrapper">
        <p class="text -plain">This diagram shows the cost of meeting each of the nutrition targets individually, as the well as the cost of meeting all of them together.</p>
        <p class="text -plain">Note that because some interventions help achieve more than one target, the cost of meeting all four targets is less than the sum of meeting the four targets individually.</p>
      </div>
      <div class="chart-wrapper">
        <div id="costMeetingPackagesView"><div class="c-chart"></div></div>
      </div>
    </div>
  </div>
</div>


<div class="l-chart">
  <div class="wrap">
    <div class="l-cost-packages">
      <h2 class="header -title -highlight">In a constrained resource setting, how much would it cost to deliver priority interventions?</h2>
      <h3>Cost of packages comparison</h3>
      <div class="chart-wrapper">
        <div id="costPackagesView"><div class="c-chart"></div></div>
      </div>
      <div class="text-wrapper">
        <p class="text -plain">This chart compares the cost of scaling a package of all the interventions needed to reach the 2025 targets </p>
        <p class="text -plain">to a narrower package of including only the most cost-effective interventions, all of which can be scaled up immediately.</p>
      </div>
    </div>
  </div>
</div>


<div class="l-chart">
  <div class="wrap">
    <div class="l-scenario-comparison">
      <div class="title-wrapper">
        <h2 class="header -title -highlight">Scenario Comparison</h2>
        <div id="graphModeSwitcher" class="mode-switcher">
          <button class="btn -is-active -line js--graph-switcher" mode="Full">full package</button>
          <button class="btn -line js--graph-switcher" mode="RTS">priority package</button>
        </div>
      </div>
      <div class="chart-wrapper">
        <div id="globalSolidarityView">
          <h3>Global Solidarity</h3>
          <div class="c-chart"></div>
        </div>
        <div id="businessAsUsualView">
          <h3>Business as usual</h3>
          <div class="c-chart"></div>
        </div>
      </div>
      <div class="text-wrapper">
        <p class="text -plain">Under a business as usual scenario, there will be a funding gap and the targets will not be achieved. Mobilizing the resources needed to accelerate progress against malnutrition will require that donors, countries, innovative financing mechanisms, businesses, and consumers act in solidarity.</p>
        <p class="text -plain">This diagram shows how these groups could work together to close the nutrition financing gap, meet the 2025 targets, and save millions of lives.</p>
      </div>
    </div>
  </div>
</div>


<div class="l-comments">
  <div class="wrap">
    <p class="text -plain">
      If [region] and others worldwide do their part, the results could be tremendous: 3.7 million child lives saved, at least 65 million fewer stunted children, 265 million fewer women suffering from anemia than in 2015, and 91 million children treated for severe wasting. In a resource-constrained environment, the smaller package of priority interventions could save about 2.2 million lives, and -- together with anticipated progress in food availability and diversity, women's health and education, and investments in water and sanitation -- could result in 50 million fewer children stunted in 2025 compared to 2015. It would also result in 91 million children treated for severe wasting.
    </p>
  </div>
</div>
