<div class="l-selectors">
  <div class="wrap">
    <div class="l-map">
      <div id="map"></div>
    </div>
    <div class="l-selectors">
      <div id="modeSelectorView">
        <input type="radio" name="mode" value="region" class="js--mode-selector" id="region">
        <label for="modeRegion">Regions</label>
        <input type="radio" name="mode" value="income_group" class="js--mode-selector" id="income_group">
        <label for="income-groups">Income groups</label>
      </div>
      <div id="groupSelectorView">
        <select name="group" id="groupSelector" class="js--group-selector"></select>
      </div>
    </div>
  </div>
</div>

<div class="l-title">
  <div class="wrap">
    <div id="titleView"></div>
  </div>
</div>

<div class="l-charts">
  <div class="l-current-burden">
    <div class="wrap">
      <h2>Current Burden of Nutritional Conditions</h2>
      <div id="currentBurdenView"><div class="c-chart"></div></div>
    </div>
  </div>

  <div class="l-targets-cost">
    <div class="wrap">
      <h2>Cost of Meeting Targets, 2016-2025</h2>
      <div id="costMeetingPackagesView"><div class="c-chart"></div></div>
    </div>
  </div>

  <div class="l-packages-cost">
    <div class="wrap">
      <h2>Cost of Packages Comparison</h2>
      <div id="costPackagesView"><div class="c-chart"></div></div>
    </div>
  </div>

  <div class="l-scenarios">
    <div class="wrap">
      <h2>Scenario Comparison</h2>
      <div id="globalSolidarityView">
        <h3>Global Solidarity</h3>
        <div class="c-chart"></div>
      </div>
      <div id="businessAsUsualView">
        <h3>Business as usual</h3>
        <div class="c-chart"></div>
      </div>
    </div>
  </div>

  <div class="l-comments"></div>
</div>
