<%= render 'shared/header', class_name: '-normal' %>
<%= render 'shared/share_menu', class_name: '-normal' %>

<div class="l-selectors">
  <div class="row">

    <div class="column small-12 medium-8 medium-offset-2 large-6 large-offset-3">
      <div id="modeSelectorView" class="c-tabs">
        <div class="tab">
          <input type="radio" name="mode" value="global" class="js--mode-selector" id="global">
          <label for="global" class="text -tabs">Global</label>
        </div>
        <div class="tab">
          <input type="radio" name="mode" value="region" class="js--mode-selector" id="region">
          <label for="region" class="text -tabs">Regions</label>
        </div>
        <div class="tab">
          <input type="radio" name="mode" value="income_group" class="js--mode-selector" id="income_group">
          <label for="income_group" class="text -tabs">Income groups</label>
        </div>
      </div>
      <div id="groupSelectorView">
        <select name="group" id="groupSelector" class="js--group-selector"></select>
      </div>
    </div>
  </div>
</div>

<section id="mapTitleView" class="title-section l-ajax-loader l-map">
  <div class="spinner"></div>
  <div class="row">
    <div class="columns small-12 medium-6">
      <div id="map" class="c-map-regions"></div>
    </div>
    <div class="columns small-12 medium-6">
      <p class="text print-text-half">If the world meets the global nutrition targets, 3.7 million child lives could be saved, at least 65 million fewer children would be stunted, 265 million fewer women would suffer from anemia, and 91 million children would be treated for severe wasting. Achieving these results would require an average annual investment of $7 billion over the next 10 years to scale-up a package of high-impact nutrition interventions. On top of this, improvements in the enabling environment are necessary. Achieving the targets is within reach if all partners work together to immediately scale-up investments in nutrition under Global Solidarity.</p>
    </div>
  </div>
</section>

<section id="commonNutritionSection" class="l-ajax-loader">
  <div class="spinner"></div>
  <div class="row">
    <div class="columns small-12">
      <hr class="c-separator"/>
      <h2 class="text -title">How common are nutritional conditions?</h2>
      <h3 class="text -subtitle">Prevalence of nutritional conditions</h3>
    </div>
    <div class="columns small-12 medium-6">
      <div id="currentBurdenView" class="l-chart">
        <div class="c-chart -burden"></div>
      </div>
    </div>
    <div class="columns small-12 medium-6">
      <p class="text offset-print">Stunting, wasting, anemia, and non-exclusive breastfeeding are common indicators of malnutrition. In this chart, stunting and wasting are shown as a percentage of children under 5, anemia as a percentage of women of reproductive age, and non-exclusive breastfeeding as a percentage of infants in their first 6 months.</p>
    </div>
  </div>
</section>

<section id="costGoalsSection" class="l-ajax-loader">
  <div class="spinner"></div>
  <div class="row">
    <div class="columns small-12">
      <hr class="c-separator"/>
      <h2 id="chartTitleView" class="text -title">How much will it cost to achieve the targets global leaders set?</h2>
    </div>
    <div class="column small-12 medium-6">
      <p class="text" id="costTitleView">Achieving the WHA targets will cost $3 billion over 10 years, on top of current investments. However, if current investments continue under Business as Usual, the targets will not be achieved.</p>
    </div>
    <div class="column small-12 medium-6">
      <p class="text">Achieving the targets is within reach if all partners work together to immediately scale-up investments in nutrition under Global Solidarity.</p>
    </div>
    <div class="columns small-12">
      <h3 class="text -subtitle">Cost of meeting targets on top of current spending, 2016-2025</h3>
    </div>
    <div class="columns small-12 medium-12">
      <div id="costMeetingPackagesView" class="l-chart">
        <div class="c-chart"></div>
      </div>
    </div>
  </div>
</section>

<section id="packageComparisonSection" class="l-ajax-loader">
  <div class="spinner"></div>
  <div class="row">
    <div class="columns small-12">
      <hr class="c-separator"/>
      <div class="print-break"></div>
      <h2 class="text -title">Under constrained resources, how much would it cost to deliver priority interventions?</h2>
      <h3 class="text -subtitle">Cost of packages comparison</h3>
      <div id="costPackagesView" class="l-chart">
        <div class="c-chart"></div>
      </div>
      <div id="costPackagesViewPrint" class="l-chart">
        <div class="c-chart"></div>
      </div>
    </div>
    <div class="column small-12 medium-6">
      <p class="text">In a resource-constrained setting, priority should be given to a narrower package including the most cost-effective interventions that have high technical efficiency and can be scaled-up immediately.</p>
    </div>
    <div class="column small-12 medium-6">
      <p class="text">Scaling up this priority package would cost less than scaling up a package of all interventions needed reach the WHA targets. However, the targets would not be achieved under this low-cost scale-up scenario.</p>
    </div>
    <div class="columns small-12">
      <button class="text -button js-btn-action" data-action="Info:toggle">
      check what these packages include here
      </button>
    </div>
  </div>
</section>

<section id="fullPrioritySection" class="l-ajax-loader">
  <div class="spinner"></div>
  <div class="row">
    <div class="columns small-12">
      <hr class="c-separator"/>
      <h2 class="text -title">How can the funding be mobilized?</h2>
    </div>
    <div class="columns small-12 medium-4 medium-offset-8">
      <span class="text">Choose intervention package</span>
    </div>
    <div class="columns small-12 medium-8">
      <h3 class="text -subtitle">Financing the targets through Global Solidarity vs. Business as Usual</h3>
    </div>
    <div class="columns small-12 medium-4">
        <div id="graphModeSwitcher" class="c-mode-switcher">
          <div class="row">
            <div class="columns small-6">
              <button class="btn -is-active -line js--graph-switcher" mode="Full">full</button>
            </div>
            <div class="columns small-6">
              <button class="btn -line js--graph-switcher" mode="RTS">priority</button>
            </div>
          </div>
      </div>
    </div>
    <div class="columns small-12 medium-6">
      <div id="businessAsUsualView" class="l-chart">
        <div class="c-chart"></div>
      </div>
      <p class="text">Under a <b>Business as Usual</b> scenario, there will be a substantial funding gap and the targets will not be achieved. Mobilizing the resources needed to accelerate progress against malnutrition will require that donors, countries, innovative financing mechanisms, businesses, and consumers act in solidarity. </p>
    </div>
    <div class="columns small-12 medium-6">
      <div id="globalSolidarityView" class="l-chart -secondary">
        <div class="c-chart"></div>
      </div>
      <p class="text">In the <b>Global Solidarity</b> scenario, donor spending scales up rapidly during the next five years, while domestic spending steadily grows. Then, from 2020 to 2025, domestic financing accelerates, and donors begin to scale back in support of country ownership over nutrition programming.</p>
    </div>
    <div class="columns small-12">
      <p class="text -footnote">*Current spending is maintained across the ten year period. Annual figures represent total contributions by source, including projected levels of current spending as well as additional financing needs to scale-up the interventions.</p>
    </div>
  </div>
</section>

<section id="additionalInfoView" class="title-section l-ajax-loader">
  <div class="spinner"></div>
  <div class="row">
    <div class="columns small-12">
      <div class="l-content -last">
        <hr class="c-separator"/>
        <p class="text two-column">
          If [region] and others worldwide do their part, the results could be tremendous: 3.7 million child lives saved, at least 65 million fewer stunted children, 265 million fewer women suffering from anemia than in 2015, and 91 million children treated for severe wasting. In a resource-constrained environment, the smaller package of priority interventions could save about 2.2 million lives, and -- together with anticipated progress in food availability and diversity, women's health and education, and investments in water and sanitation -- could result in 50 million fewer children stunted in 2025 compared to 2015. It would also result in 91 million children treated for severe wasting.
        </p>
      </div>
    </div>
  </div>
</section>
