<%= render 'shared/header', class_name: '-normal' %>

<div class="l-selectors">
  <div class="row">
    <div class="column small-12 medium-8 medium-offset-2 large-6 large-offset-3">
      <div id="countrySelectorView">
        <select name="group" id="groupSelector" class="js--country-selector"></select>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns small-12">
    <hr class="c-separator"/>
    <h2 id="chartTitleView" class="text -title">Donor data</h2>
    <h3 class="text -subtitle">Inital data for current expenditure by country</h3>
  </div>
  <div class="column small-12 medium-6">
    <p class="text">Achieving all four of the WHA targets in Latin America & the Caribbean will cost $3 billion over 10 years, on top of current investments.</p>
  </div>
  <div class="column small-12 medium-6">
    <p class="text">Note that because some interventions help achieve more than one target, the cost of meeting all four targets is less than the sum of meeting the four targets individually.</p>
  </div>
  <div class="columns small-12 medium-12">
    <div id="currentCountryDonor" class="l-chart">
      <div class="c-chart"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns small-12">
    <hr class="c-separator"/>
    <h2 id="chartTitleView" class="text -title">Government funding</h2>
    <h3 class="text -subtitle">Inital data for government spending by country</h3>
  </div>
  <div class="column small-12 medium-6">
    <p class="text">Achieving all four of the WHA targets in Latin America & the Caribbean will cost $3 billion over 10 years, on top of current investments.</p>
  </div>
  <div class="column small-12 medium-6">
    <p class="text">Note that because some interventions help achieve more than one target, the cost of meeting all four targets is less than the sum of meeting the four targets individually.</p>
  </div>
  <div class="columns small-12 medium-12">
    <div id="currentCountryGovernment" class="l-chart">
      <div class="c-chart"></div>
    </div>
    <hr class="c-separator"/>
  </div>
</div>
