<div class="l-selectors">
  <div class="row">
    <div class="column small-12 medium-8 medium-offset-2 large-6 large-offset-3">
      <div id="countrySelectorView">
        <select name="group" id="groupSelector" class="js--country-selector"></select>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns small-12">
    <div class="l-title">
      <h2 class="header -title -highlight">Donor data</h2>
      <h3>Inital data for current expenditure by country</h3>
    </div>
    <div id="currentCountryDonor" class="chart-wrapper">
      <div class="c-chart -country"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns small-12">
    <div class="l-title">
      <h2 class="header -title -highlight">Government funding</h2>
      <h3>Inital data for government spending by country</h3>
    </div>
    <div id="currentCountryGovernment" class="chart-wrapper">
      <div class="c-chart -country -government"></div>
    </div>
  </div>
</div>
