<%= render 'shared/header', class_name: '-normal' %>

<div id="map-section" class="l-map l-ajax-loader">
  <div class="spinner"></div>
  <div class="row">
    <div class="columns small-12">
      <div id="countryMapView">
        <div class="columns small-12 medium-6 medium-offset-3">
          <div id="countrySelectorView">
            <select name="group" id="groupSelector" class="js--country-selector"></select>
          </div>
        </div>
        <div id="map-container" class="c-map-home"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns small-12">
    <div class="l-content -top"></div>
  </div>
  <div class="columns small-12 medium-6">
    <div id="currentCountryDonor" class="l-chart l-ajax-loader">
      <h2 class="text -title">Donor data</h2>
      <p id="currentDonorFundingText" class="text"></p>
      <div class="spinner"></div>
      <div class="c-chart -burden"></div>
    </div>
  </div>
  <div class="columns small-12 medium-6">
    <h2 class="text -title">Government funding</h2>
    <h3 class="text -subtitle">Inital data for government spending by country</h3>
    <p class="text">Achieving all four of the WHA targets in Latin America & the Caribbean will cost $3 billion over 10 years, on top of current investments.</p>
    <div id="currentCountryGovernment" class="l-chart l-ajax-loader">
      <div class="spinner"></div>
      <div class="c-chart"></div>
    </div>
  </div>
  <div class="columns small-12">
    <div class="l-content -last"></div>
  </div>
</div>
