<div class="l-selectors">
  <div class="wrap">
    <div class="l-map">
      <div id="map"></div>
    </div>
    <div class="l-selectors">
      <div id="groupSelectorView">
        <select name="group" id="groupSelector" class="js--group-selector"></select>
      </div>
    </div>
  </div>
</div>

<div class="l-title">
  <div class="wrap">
    <div id="titleView"></div>
  </div>
</div>

<div class="l-chart">
  <div class="wrap">
    <div class="l-current-burden">
      <h2 class="header -title -highlight">Donor data</h2>
      <h3>Inital data for current expenditure by country</h3>
      <div id="currentCountryDonor" class="chart-wrapper">
        <div class="c-chart -country"></div>
      </div>
    </div>
  </div>
</div>

<div class="l-chart">
  <div class="wrap">
    <div class="l-current-burden">
      <h2 class="header -title -highlight">Government funding</h2>
      <h3>Inital data for government spending by country</h3>
      <div id="currentCountryGovernment" class="chart-wrapper">
        <div class="c-chart -country -government"></div>
      </div>
    </div>
  </div>
</div>

