.c-accordion {
  padding-bottom: rem(10px);

  input{
    display: none;
  }

  label {
    position: relative;
    z-index: 10;
    cursor: pointer;

    &.-open {
      margin-top: -80px;
    }
  }

  .accordion-content {
    width: 100%;
    overflow: hidden;
    height: 0;
    position: relative;
    z-index: 10;
    transition:
      height 0.1s ease-in-out;

    img {
      max-width: rem(230px);
    }

    .img-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: rem(30px);
    }
  }

  input:checked ~ label {
    visibility: hidden;
  }

  input:checked ~ .accordion-content{
    transition:
    height 0.5s ease-in-out,
  }

  input:checked ~ .accordion-content{
    height: rem(600px);
  }
}
