.c-graphic {
  width: 100%;
  height: 100%;
  position: relative;

  .image {
    width: 100%;
    height: 100%;
    position: relative;;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: rem(30px);
    height: rem(300px);

    @media screen and (min-width: $screen-m) {
      // position: absolute;
      margin-top: 0;
      // top: rem(150px);
      height: rem(450px);
    }

    &.-stunting {
      background-image: image_url('illustrations/stunting_grow.png');

      @media screen and (min-width: $screen-m) {
        // top: rem(160px);
      }
    }

    &.-wasting {
      background-image: image_url('illustrations/wasted_brain.png');
    }

    &.-anaemia {
      background-image: image_url('illustrations/anaemia_woman.png');
    }

    &.-breastfeeding {
      background-image: image_url('illustrations/breastfeeding_woman_child.png');
    }
  }
}

.reorder {
  @media screen and (max-width: $screen-s) {
    .graphic {
      order: 1
    }

    .text {
      order: 2
    }

    .accordion {
      order: 3
    }
  }
}
