.c-graphic {
  width: 100%;
  height: 100%;
  position: relative;

  img {
    max-height: 500px;
    padding-top: rem(20px);
    text-align: center;
    margin: auto;
    padding-left: rem(15px);
    padding-right: rem(15px);

    @media screen and (min-width: $screen-m + 1px) {
      position: absolute;
    }
  }

  &.-stunting img {
    right: 0;

    @media screen and (min-width: $screen-m + 1px) {
      top: rem(110px);
      position: absolute;
    }
  }

  &.-wasting img {
    @media screen and (min-width: $screen-l + 1px) {
      top: rem(140px);
    }
  }

  &.-anemia img {
    @media screen and (min-width: $screen-m + 1px) {
      top: rem(110px);
    }
  }

  &.-breastfeeding img {

    @media screen and (min-width: $screen-l + 1px) {
      top: rem(100px);
    }

  }
}

.reorder {
  @media screen and (max-width: $screen-s) {
    .graphic {
      order: 1
    }

    .text {
      order: 2
    }

    .accordion {
      order: 3
    }
  }
}
