.c-map-home {
  width: 105%;
  height: rem(180px);
  margin-left: -10%;

  @media screen and (min-width: $screen-s) {
    height: rem(220px);
  }

  @media screen and (min-width: $screen-m) {
    height: rem(450px);
  }

  @media screen and (min-width: $screen-l) {
    height: rem(550px);
  }
}
