.c-map-legend {
  float: left;
  width: 100%;

  h4 {
    margin: rem(10px) 0 rem(5px);

    @media screen and (min-width: $screen-m) {
      margin: 0;
    }
  }

  .buckets {
    .bucket {
      width: 50%;
      float: left;
      margin-bottom: rem(5px);

      .color {
        display: inline-block;
        height: rem(10px);
        width: rem(10px);
        border-radius: 50%;
        margin: 0;
        margin-right: rem(15px);
        border: 1px solid rgba(216, 216, 216, 0.5);

        &.default {
          background-color: rgba(#d8d8d8, 0.5);
        }
      }
    }
  }
}
