.c-map-legend {
  width: 100%;
  margin-bottom: 70px;

  h4 {
    margin: rem(10px) 0 rem(5px);

    @media screen and (min-width: $screen-m) {
      margin: 0;
    }
  }

  .buckets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .bucket {
      width: 100%;
      text-align: center;

      span {
        display: block;
        height: rem(10px);
        width: 100%;
        margin-bottom: rem(5px);
        padding-top: rem(10px);

        @media screen and (min-width: $screen-m) {
          margin: 0;
        }
      }

      .default {
        background-color: rgba(#d8d8d8, 0.5);
        margin-left: rem(5px);
      }
    }
  }
}
