.c-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: rem(30px);
  width: 100%;

  @media screen and (min-width: $screen-m) {
    flex-direction: row;
  }

  li {
    padding-bottom: rem(35px);

    @media screen and (min-width: $screen-m) {
      margin-left: rem(20px);
      padding-bottom: rem(15px);
    }

    &.-active{
      color: $color-graph-6;

      @media screen and (min-width: $screen-m) {
        border-bottom: solid $color-2 2px;
        padding-bottom: rem(14px);
        margin-bottom: rem(-1px);
      }
    }

    &:hover {
      color: $color-graph-6;

      @media screen and (min-width: $screen-m) {
        border-bottom: solid $color-2 2px;
        padding-bottom: rem(14px);
        margin-bottom: rem(-1px);
      }
    }
  }

  &.-transparent {
    .text {
      color: $white;
    }

    li {
      &.-active{
        color: $color-graph-6;

        @media screen and (min-width: $screen-m) {
          border-bottom: solid $white 2px;
        }
      }

      &:hover{
        color: $color-graph-6;

        @media screen and (min-width: $screen-m) {
          border-bottom: solid $white 2px;
        }
      }
    }
  }
}
