.c-partners {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $screen-m) {
    flex-direction: row;
  }

  li {
    margin-bottom: rem(20px);
    padding: 0 rem(15px);
    max-width: 200px;

    .icon {
      width: 100%;
      max-height: rem(40px);
    }
  }
}
