.c-share-menu {
  position: relative;
  margin-top: rem(15px);
  display: none;

  @media screen and (min-width: $screen-m) {
    display: block;
  }

  .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    li {
      margin-left: rem(15px);
      padding-left: rem(15px);
      cursor: pointer;
      border-left: solid 1px $color-2;
    }

    li:first-child {
      border-left: none;
    }

    .icon {
      fill: $color-2;
      width: rem(15px);
      height: rem(15px);
    }
  }

  &.-transparent {

    li {
      border-left: solid 1px $white;
      color: $white;
    }

    .icon {
      fill: $white;
    }
  }
}
