.c-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;

  .tab [type=radio] {
    display: none;
  }

  label {
    padding-bottom: 5px;
    margin-bottom: -1px;
    cursor: pointer;
  }

  [type=radio]:checked ~ label {
    border-bottom: 2px solid $color-2;
    z-index: 2;
    color: $color-graph-6;
  }
  [type=radio]:checked ~ label ~ .content {
    z-index: 1;
  }
}
