<h2 class="text -title -offset">Current funding</h2>
<p class="text">In 2015 in <strong>{{country}}</strong>, the government and foreign donors spent a total of <strong>{{total}}</strong> on the WHA nutrition targets. Of that amount, <strong>{{gov}}</strong> came from the government*, and <strong>{{donor}}</strong> came from foreign donors. For information on where individual donors currently stand in terms of nutrition investments, visit <a href="http://donors4nutrition.r4d.org/" target="_blank" rel="noopener">http://donors4nutrition.r4d.org/</a>.</p>
