<h2 class="text -title -offset">Current funding</h2>
<p class="text">In 2015, foreign donors invested {{donor}} in nutrition in {{country}}. Data on domestic investments in nutrition are not available. For information on where individual donors currently stand in terms of nutrition investments, visit <a href="http://donors4nutrition.r4d.org/" target="_blank">http://donors4nutrition.r4d.org/</a>.</p>
