<h2 class="text -title">Breakdown of current donor funding</h2>
<p class="text">In 2015, donors spent <strong>{{sum}}</strong> on nutrition in <strong>{{country}}</strong>. This funding contributed to the goals for stunting, wasting, anemia, and exclusive breastfeeding. Note that because some funded interventions contribute to more than one target, total funding across the four targets is less than the sum of funding for each target.</p>
