<div class="row">
  <div class="columns small-12 medium-8 medium-offset-2">
    <p class="text">If the world meets the global nutrition targets, 3.7 million child lives could be saved, at least 65 million fewer children would be stunted, 265 million fewer women would suffer from anemia, and 91 million children would be treated for severe wasting. Achieving these results would require an average annual investment of $7 billion over the next 10 years to scale-up a package of high-impact nutrition interventions. On top of this, improvements in the enabling environment are necessary. Achieving the targets is within reach if all partners work together to immediately scale-up investments in nutrition under Global Solidarity.</p>
  </div>
</div>
