<div class="row">
  <div class="columns small-12 medium-6">
    <div id="map" class="c-map-regions {{class}}"></div>
  </div>
  <div class="columns small-12 medium-6">
    <p class="text">{{description}}</p>
  </div>
</div>
