{{!-- BACKDROP --}}
<div class="modal-backdrop js-btn-modal-close"></div>
{{!-- WINDOW --}}
<div class="modal-window -info">
  <a href="#" class="modal-close js-btn-modal-close">
    <svg class="c-icon -medium"><use xlink:href="#icon-close_popup"></use></svg>
  </a>
  <div class="modal-wrapper scroll-dark">
    <div class="modal-content">
      <div class="c-info">
        <h3>Full interventions</h3>
        <ul>
          <li>Antenatal micronutrient supplementation</li>
          <li>Infant and young child nutrition counseling</li>
          <li>Balanced energy-protein supplementation for pregnant women</li>
          <li>Intermittent presumptive treatment of malaria in pregnancy in malaria-endemic regions</li>
          <li>Vitamin A supplementation</li>
          <li>Prohpylactic zinc supplementation</li>
          <li>Public provision of complementary food</li>
          <li>Treatment of severe actute malnutrition</li>
          <li>Complementary feeding education</li>
          <li>Breastfeeding promotion</li>
          <li>Iron and folic acid supllemntation for non-pregnant women</li>
          <li>Staple food fortification</li>
        </ul>
        <h3>Priority interventions</h3>
        <ul>
          <li>Antenatal micronutrient supplementation</li>
          <li>Infant and young child nutrition counseling</li>
          <li>Intermittent presumptive treatment of malaria in pregnancy in malaria-endemic regions</li>
          <li>Vitamin A supplementation for children</li>
          <li>Treatment of severe acute malnutrition for children</li>
          <li>Iron and folic acid supplementation for girls 15-19 years old in school</li>
          <li>Staple food fortification (wheat and maize flour but not rice)</li>
          <li>Pro-breastfeeding social policies</li>
          <li>National breastfeeding promotion campaigns</li>
        </ul>
      </div>
    </div>
  </div>
</div>
