{{!-- BACKDROP --}}
<div class="modal-backdrop js-btn-modal-close"></div>
{{!-- WINDOW --}}
<div class="modal-window -info">
  <a href="#" class="modal-close js-btn-modal-close">
    <svg class="c-icon -medium"><use xlink:href="#icon-close-modal"></use></svg>
  </a>
  <div class="modal-wrapper scroll-dark">
    <div class="modal-content">
      <div class="c-info">
        <table class="c-table">
          <tr class="text -subtitle">
            <th>Intervention</th>
            <th>Full package</th>
            <th>Priority package</th>
          </tr>
          <tr>
            <td data-th="Intervention">Antenatal micronutrient supplementation</td>
            <td data-th="Full package"><svg class="icon -open"><use xlink:href="#icon-checkmark"></use></svg></td>
            <td data-th="Priority"><svg class="icon -open"><use xlink:href="#icon-checkmark"></use></svg></td>
          </tr>
          <tr>
            <td data-th="Intervention">Infant and young child nutrition counseling</td>
            <td data-th="Full package"><svg class="icon -open"><use xlink:href="#icon-checkmark"></use></svg></td>
            <td data-th="Priority"><svg class="icon -open"><use xlink:href="#icon-checkmark"></use></svg></td>
          </tr>
          <tr>
            <td data-th="Intervention">Intermittent presumptive treatment of malaria in pregnancy in malaria-endemic regions</td>
            <td data-th="Full package"><svg class="icon -open"><use xlink:href="#icon-checkmark"></use></svg></td>
            <td data-th="Priority"><svg class="icon -open"><use xlink:href="#icon-checkmark"></use></svg></td>
          </tr>
          <tr>
            <td data-th="Intervention">Vitamin A supplementation</td>
            <td data-th="Full package"><svg class="icon -open"><use xlink:href="#icon-checkmark"></use></svg></td>
            <td data-th="Priority"><svg class="icon -open"><use xlink:href="#icon-checkmark"></use></svg></td>
          </tr>
          <tr>
            <td data-th="Intervention">Balanced energy-protein supplementation for pregnant women</td>
            <td data-th="Full package"><svg class="icon -open"><use xlink:href="#icon-checkmark"></use></svg></td>
            <td data-th="Priority"><svg class="icon -open"><use xlink:href="#icon-checkmark"></use></svg></td>
          </tr>
          <tr>
            <td data-th="Intervention">Breastfeeding promotion through social policy and national promotion campaigns</td>
            <td data-th="Full package"><svg class="icon -open"><use xlink:href="#icon-checkmark"></use></svg></td>
            <td data-th="Priority"><svg class="icon -open"><use xlink:href="#icon-checkmark"></use></svg></td>
          </tr>
          <tr>
            <td data-th="Intervention">Staple food fortification</td>
            <td data-th="Full package">Wheat, maize flour, and rice</td>
            <td data-th="Priority">Wheat and maize flour</td>
          </tr>
          <tr>
            <td data-th="Intervention">Iron and folic acid supplementation</td>
            <td data-th="Full package">For non-pregnant women</td>
            <td data-th="Priority">For girls 15-19 years old in school</td>
          </tr>
          <tr>
            <td data-th="Intervention">Prophylactic zinc supplementation</td>
            <td data-th="Full package"><svg class="icon -open"><use xlink:href="#icon-checkmark"></use></svg></td>
            <td data-th="Priority"></td>
          </tr>
          <tr>
            <td data-th="Intervention">Public provision of complementary food</td>
            <td data-th="Full package"><svg class="icon -open"><use xlink:href="#icon-checkmark"></use></svg></td>
            <td data-th="Priority"></td>
          </tr>
          <tr>
            <td data-th="Intervention">Treatment of severe acute malnutrition</td>
            <td data-th="Full package"><svg class="icon -open"><use xlink:href="#icon-checkmark"></use></svg></td>
            <td data-th="Priority"><svg class="icon -open"><use xlink:href="#icon-checkmark"></use></svg></td>
          </tr>
          <tr>
            <td data-th="Intervention">Complementary feeding education</td>
            <td data-th="Full package"><svg class="icon -open"><use xlink:href="#icon-checkmark"></use></svg></td>
            <td data-th="Priority"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
