{{!-- BACKDROP --}}
<div class="modal-backdrop js-btn-modal-close"></div>
{{!-- WINDOW --}}
<div class="modal-window">
  <a href="#" class="modal-close js-btn-modal-close">
    <svg class="c-icon -medium"><use xlink:href="#icon-close-modal"></use></svg>
  </a>
  <div class="modal-wrapper scroll-dark">
    <div class="modal-content">
      <h2 class='modal-title text -impact -strap'>Download</h2>
      <div class="c-download">
      </div>
    </div>
  </div>
</div>
