<div class="l-content-large -about -image">
  <div class="row">
    <div class="columns small-12">
      <%= render 'shared/header', className: '-transparent' %>
      <div class="c-cta">
        <h1 class="text -cta-title">About</h1>
        <p class="text -cta-text">These results presented here are based on a joint research effort between the World Bank Group, Results for Development Institute, and 1,000 Days, with financial support from the Bill & Melinda Gates Foundation and the Children’s Investment Fund Foundation.</p>
      </div>
    </div>
  </div>
  <div class="c-smooth-scroll">
  </div>
</div>
