<div class="l-content-large -about -image">
  <%= render 'shared/header', class_name: '-transparent' %>
  <%= render 'shared/share_menu', class_name: '-transparent' %>
  <div class="row">
    <div class="columns small-12 medium-8">
      <div class="c-cta -header">
        <h1 class="text -cta-title-header -light">About</h1>
        <p class="text -cta-text -light">The results presented here are based on a joint research effort between the World Bank Group, Results for Development Institute, and 1,000 Days, with financial support from the Bill & Melinda Gates Foundation and the Children’s Investment Fund Foundation.</p>
      </div>
    </div>
  </div>
  <div class="smooth-scroll">
    <a href="#find-out-more" class="js-btn-smooth-scroll">
      <svg class="icon"><use xlink:href="#icon-scroll"></use></svg>
    </a>
  </div>
</div>

<div id="find-out-more">
  <div class="row">
    <div class="columns small-12 medium-8">
      <div class="l-content -first">
        <p class="text">Please refer to the publication <a href="http://www.worldbank.org/en/topic/nutrition/publication/an-investment-framework-for-nutrition-reaching-the-global-targets-for-stunting-anemia-breastfeeding-wasting" target="_blank" rel="noopener">“An investment framework for nutrition: reaching the global targets for stunting, anemia, breastfeeding and wasting”</a> for a detailed description of the methodology. </p>
      </div>
    </div>
  </div>
</div>

<div class="l-content">
  <div class="row">
    <div class="columns small-12">
      <hr class="c-separator"/>
      <a href="http://www.worldbank.org/" target="_blank" rel="noopener">
        <svg class="icon"><use xlink:href="#icon-world-bank"></use></svg>
      </a>
    </div>
    <div class="columns small-12 medium-6">
      <p class="text">
        Under its twin goals of reducing poverty and boosting shared prosperity, the World Bank has played a major role in supporting the scale-up of actions to prevent stunting. Over the last decade, the World Bank led the development of several landmark publications on nutrition, including Repositioning Nutrition as Central to Development and Scaling Up Nutrition: What will it cost? More recently, this effort has been spearheaded by President Jim Yong Kim, who said, “In too many low- and middle-income countries, children are disadvantaged before they even set foot in school because they did not have adequate early nutrition and stimulation, or were exposed to toxic environments.
      </p>
    </div>
    <div class="columns small-12 medium-6">
      <p class="text">
        Childhood stunting rates of 45 percent – and as high as 70 percent in some countries – are a stain on our collective conscience”.  Reducing stunting is central to the “Investing in the Early Years” mandate now center stage on the Bank’s agenda, which involves strengthening actions across several key sectors.  To this end, the World Bank recently led the efforts to create an investment framework for nutrition in order to reach the World Health Assembly global targets for stunting, anemia, breastfeeding, and wasting.
      </p>
    </div>
  </div>
</div>

<div class="l-content">
  <div class="row">
    <div class="columns small-12">
      <hr class="c-separator"/>
      <a href="http://www.r4d.org/" target="_blank" rel="noopener">
        <svg class="icon -r4d"><use xlink:href="#icon-logo"></use></svg>
      </a>
    </div>
    <div class="columns small-12 medium-6">
      <p class="text">
        Results for Development (R4D) is a global nonprofit organization working with partners in more than 55 countries to find new ways to help people escape poverty and reach their full potential. We apply fresh thinking and rigor to emerging and stubborn development challenges — particularly within the fields of health, education and governance — and we pioneer and advance creative, high-impact solutions.
      </p>
    </div>
    <div class="columns small-12 medium-6">
      <p class="text">
        We do this by conducting analysis that helps to inform and influence decision-makers; building platforms and networks that connect people and ideas; providing direct support to local change agents; and combining these approaches to deliver meaningful and lasting results. R4D specializes in health and nutrition financing analytics, including resource tracking for nutrition, both at the country and global levels. In the partnership for the Investment Framework for Nutrition, R4D led the financing analysis.
      </p>
      <br>
      <p>
        <a href="http://www.r4d.org/focus-areas/nutrition" target="_blank" rel="noopener"> For more on R4D’s nutrition work, click here</a>.
      </p>
    </div>
  </div>
</div>

<div class="l-content">
  <div class="row">
    <div class="columns small-12">
      <hr class="c-separator"/>
      <a href="http://thousanddays.org/" target="_blank" rel="noopener">
        <svg class="icon -days"><use xlink:href="#icon-days"></use></svg>
      </a>
    </div>
    <div class="columns small-12 medium-6">
      <p class="text">
        1,000 Days is the leading non-profit organization promoting action and investment in nutrition to build a strong foundation for children, their families and their nations to thrive.
      </p>
    </div>
    <div class="columns small-12 medium-6">
      <p class="text">
        By coordinating with partners in the U.S. and around the world, 1,000 Days has played an important role in communicating the need for investment to policymakers and disseminating the breakthrough analysis by the World Bank and Results for Development (R4D) globally.
      </p>
    </div>
  </div>
</div>

<div class="l-content">
  <div class="row">
    <div class="columns small-12">
      <hr class="c-separator"/>
    </div>
    <div class="columns small-12 medium-3">
      <a href="http://www.gatesfoundation.org/" target="_blank" rel="noopener">
        <svg class="icon"><use xlink:href="#icon-gates-foundation"></use></svg>
      </a>
    </div>
    <div class="columns small-12 medium-3">
      <a href="https://ciff.org/" target="_blank" rel="noopener">
        <svg class="icon"><use xlink:href="#icon-ciff"></use></svg>
      </a>
    </div>
    <div class="columns small-12">
      <p class="text">
        This work was funded by the Bill and Melinda Gates Foundation and the Children’s Investment Fund Foundation.
      </p>
    </div>
    <div class="columns small-12">
      <div class="last"></div>
    </div>
  </div>
</div>
